SET CREATION

In [1]:
myset = {1,2,3,4,5}     
myset

{1, 2, 3, 4, 5}

In [2]:
len(myset)

5

In [3]:
my_set = {1,1,2,2,3,4,5,5,}
my_set

{1, 2, 3, 4, 5}

In [5]:
myset1 = {1.79,2.08,3.99,4.56,5.45} 
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [6]:
myset2 = {'asif','john','tyrion'}
myset2

{'asif', 'john', 'tyrion'}

In [8]:
myset3 = {10,20,"hola",(11,22,32)}
myset3

{(11, 22, 32), 10, 20, 'hola'}

In [9]:
myset3 = {10,20,"Hola",[11,22,32]}
myset3

TypeError: unhashable type: 'list'

In [10]:
my_set = set (('one','two','three','four',))
my_set

{'four', 'one', 'three', 'two'}

LOOP THROUGH A SET

In [12]:
myset = {'one','two','three','four','six','seven','eight'}
for i in myset:
    print(i)

six
eight
two
three
one
four
seven

In [13]:
for i in enumerate(myset):
    print(i)

(0, 'six')
(1, 'eight')
(2, 'two')
(3, 'three')
(4, 'one')
(5, 'four')
(6, 'seven')

SET MEMBERSHIP

In [14]:
myset

{'eight', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [15]:
'one' in myset

True

In [16]:
'ten' in myset

False

In [17]:
if 'three' in myset:
    print('three is present in the set')
else:
    print('three is not present in the set')

three is present in the set

In [19]:
if 'eleven' in myset:
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

ADD & REMOVE ITEMS

In [20]:
myset

{'eight', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [21]:
myset.add('NINE')
myset

{'NINE', 'eight', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [23]:
myset.update(['TEN','ELEVEN','TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [24]:
myset.remove('NINE')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [25]:
myset.discard('TEN')
myset

{'ELEVEN', 'TWELVE', 'eight', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
myset.clear()
myset

set()

In [28]:
del myset
myset

NameError: name 'myset' is not defined

COPY SET

In [29]:
myset = {'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
myset1 = myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
id(myset), id(myset1)

(2116749962688, 2116749962688)

In [32]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [33]:
id(my_set)

2116749964256

In [34]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [35]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [36]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

SET OPERATIONS

UNION

In [41]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
A.update(B,C) 
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

INTERSECTION

In [46]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [47]:
A & B

{4, 5}

In [49]:
A.intersection(B)

{4, 5}

In [50]:
A.intersection_update(B)
A

{4, 5}

DIFFERENCE

In [52]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [53]:
A-B

{1, 2, 3}

In [54]:
A.difference(B)

{1, 2, 3}

In [55]:
B - A

{6, 7, 8}

In [58]:
B.difference(A)

{6, 7, 8}

In [60]:
B.difference_update(A)
B

{6, 7, 8}

SYMMETYRIC DIFFERENCE

In [63]:
A = {1,2,3,4,5,}
B = {4,5,6,7,8}

In [64]:
A^B

{1, 2, 3, 6, 7, 8}

In [65]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [67]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

SUBSET , SUPERSET & DISJOINT

In [68]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8,}
C = {10,20,30,40}

In [69]:
B.issubset(A)

True

In [70]:
A.issuperset(B)

True

In [71]:
C.isdisjoint(A)

True

In [73]:
B.isdisjoint(A)

False

OTHER BUILTIN FUNCTIONS

In [74]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
sum(A)

45

In [76]:
max(A)

9

In [77]:
min(A)

1

In [78]:
len(A)

9

In [79]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [81]:
D = sorted(A,reverse=True)

In [82]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [83]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

DICTIONARY

Create Dictionary

In [84]:
mydict = dict()
mydict

{}

In [86]:
mydict={}
mydict

{}

In [87]:
mydict = {1:'one',2:'two',3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [90]:
mydict = ({1:'one' , 2:'two' , 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [92]:
mydict = {'A':'one','B':'two','C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [93]:
mydict = {1:'one','A':'two',3:'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [97]:
mydict.keys()

dict_keys([1, 'A', 3])

In [98]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [99]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [100]:
mydict = {1:'one',2:'two','A':['asif','john','Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [103]:
mydict = {1:'one',2:'two','A':['asif','john','maria'],'B':('Bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'maria'],
 'B': ('Bat', 'cat', 'hat')}

In [104]:
mydict = {1:'one',2:'two','A':{'Name':'asif','Age':20},'B':('Bat','Cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'Cat', 'hat')}

In [105]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys)
mydict3

{'b': None, 'a': None, 'c': None, 'd': None}

In [106]:
keys = {'a','b','c','d'}
value= 10
mydict3 = dict.fromkeys(keys , value)
mydict3

{'b': 10, 'a': 10, 'c': 10, 'd': 10}

In [107]:
keys = {'a','b','c','d'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)
mydict3

{'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [108]:
value.append(40)
mydict3

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

ACCESSING ITEMS

In [109]:
mydict = {1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [110]:
mydict[1]

'one'

In [111]:
mydict.get(1)

'one'

In [113]:
mydict1 = {'Name':'Asif', 'ID':74123 , 'DOB':1991 , 'job':'analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'analyst'}

In [114]:
mydict1['Name']

'Asif'

In [115]:
mydict1.get('job')

'analyst'

ADD , REMOVE & CHANGE ITEMS

In [121]:
mydict1 = {'name':'Asif' , 'ID':12345 , 'DOB':1991 , 'Address' : 'Hilsinki'}
mydict1

{'name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [123]:
mydict1['DOB'] = 1992
mydict1['Address'] = 'Delhi'
mydict1

{'name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [127]:
dict1 = {'DOB':1995}
mydict.update(dict1)
mydict1

{'name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [129]:
mydict1 ['job'] = 'Analyst'
mydict1

{'name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'job': 'Analyst'}

In [130]:
mydict1.pop('job')
mydict1

{'name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [131]:
mydict1.popitem()

('Address', 'Delhi')

In [132]:
mydict1

{'name': 'Asif', 'ID': 12345, 'DOB': 1992}

In [133]:
del[mydict1['ID']]
mydict1

{'name': 'Asif', 'DOB': 1992}

In [134]:
mydict1.clear()
mydict1

{}

In [137]:
del mydict1
mydict

NameError: name 'mydict1' is not defined

COPY DICTIONARY

In [138]:
mydict = {'Nmae':'asif','ID':12345,'DOB':1991,'address':'Hilsinki'}
mydict

{'Nmae': 'asif', 'ID': 12345, 'DOB': 1991, 'address': 'Hilsinki'}

In [139]:
mydict1=mydict

In [140]:
id(mydict),id(mydict1)

(2116770934848, 2116770934848)

In [142]:
mydict2 =mydict.copy ()

In [143]:
id(mydict),id(mydict1)

(2116770934848, 2116770934848)

In [144]:
id(mydict2)

2116770915392

In [145]:
mydict['Address'] = 'Mumbai'

In [146]:
mydict

{'Nmae': 'asif',
 'ID': 12345,
 'DOB': 1991,
 'address': 'Hilsinki',
 'Address': 'Mumbai'}

In [147]:
mydict1

{'Nmae': 'asif',
 'ID': 12345,
 'DOB': 1991,
 'address': 'Hilsinki',
 'Address': 'Mumbai'}

In [148]:
mydict2

{'Nmae': 'asif', 'ID': 12345, 'DOB': 1991, 'address': 'Hilsinki'}

LOOP THROUGH A DICTIONARY

In [152]:
mydict1 = {'Name':'Asif' , 'ID':12345 , 'DOB':1991 , 'Address':'Hilsinki' , 'Job':'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [153]:
for i in mydict1:
    print(i ,':' ,mydict[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [154]:
for i in mydict:
    print(mydict[i])

Asif
12345
1991
Hilsinki
Analyst

DICTIONARY MEMBERSHIP

In [155]:
mydict = {'Name':'Asif' , 'ID':12345 , 'DOB':1991 , 'Job':'Analyst'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [156]:
'Name'in mydict1

True

In [157]:
'Asif' in mydict

False

In [158]:
'ID' in mydict1

True

In [159]:
'Address' in mydict1

True

ALL/ANY

In [160]:
mydict1 = {'Name':'Asif' , 'ID':12345 , 'DOB':1991 ,'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [161]:
all(mydict)

True